use serde::Deserialize;
use crate::utils;

#[derive(Debug, Deserialize)]
pub struct Settings {
    pub project: String,
    pub port: u16,
    pub db: utils::db::DatabaseSettings,
    pub mongo: utils::db::DatabaseSettings,
    pub redis: utils::db::RedisSettings,

    pub jwt: utils::auth::JwtSettings,
}

#[derive(Debug, Deserialize)]
pub struct ModuleSettings {
    pub name: String,
}