use std::sync::{Arc};
use bb8_redis::bb8::Pool;
use bb8_redis::RedisConnectionManager;
use sea_orm::DatabaseConnection;
use mongodb::Client as MongoClient;


#[derive(Clone)]
pub struct AppState {
    pub conn: Arc<DatabaseConnection>,
    pub redis: Pool<RedisConnectionManager>,
    pub mongo: Arc<MongoClient>,
}