{% set service_name = model_name+'Service' -%}
{% set component_name = model_name+'UpdaterComponent' -%}
{% set update_form_name = 'update'+ model_name +'Form' -%}
import {Component, OnInit} from '@angular/core';
import {FormBuilder, FormGroup, Validators} from '@angular/forms';

import { {{ service_name }}} from '../{{ lower_model_name }}_api.service';
import { {{ model_name }} } from '../{{ lower_model_name }}_interfaces';


@Component({
  selector: 'app-{{ lower_model_name }}-updater',
  templateUrl: './{{ lower_model_name }}-updater.component.html',
  styleUrls: ['./{{ lower_model_name }}-updater.component.css']
})
export class {{ component_name }} implements OnInit {

  // {{ update_form_name }}: FormGroup;

  constructor(
    private api: {{ service_name }},
  ) {
  }

  ngOnInit(): void {
  }

}
