{% set service_name = model_name+'Service' -%}
{% set component_name = model_name+'CreatorComponent' -%}
{% set new_form_name = 'new'+ model_name +'Form' -%}
{% set create_model = model_name+'Creatable' -%}
import {Component, OnInit} from '@angular/core';
import {FormBuilder, FormGroup, Validators} from '@angular/forms';

import { {{ service_name }}} from '../{{ lower_model_name }}_api.service';
import { {{ create_model }} } from '../{{ lower_model_name }}_interfaces';


@Component({
  selector: 'app-{{ lower_model_name }}-creator',
  templateUrl: './{{ lower_model_name }}-creator.component.html',
  styleUrls: ['./{{ lower_model_name }}-creator.component.css']
})
export class {{ component_name }} implements OnInit {

  {{ new_form_name }}: FormGroup = new FormGroup({});

  constructor(
    private fb: FormBuilder,
    private api: {{ service_name }},
  ) {
  }

  initBaseForm(): void {
    this.{{ new_form_name }} = this.fb.group({
        {% for form_field in model_create_fields -%}
            {{ form_field }}: ['', [Validators.required]],
        {% endfor -%}
    });
  }

  ngOnInit(): void {
    this.initBaseForm();
  }

  create{{ model_name }}(): void {
    this.api.create{{ model_name }}(this.{{ new_form_name }}.value).subscribe({
        next:() => {}
    })
  }
}
