PORT=8000

DB.HOST = "127.0.0.1"
DB.USER = "test"
DB.PSWD = "test"
DB.NAME = "{{ db_name }}"
DB.PORT = 3306

MONGO.HOST = "127.0.0.1"
MONGO.USER = "test"
MONGO.PSWD = "test"
MONGO.NAME = "record"
MONGO.PORT = 27017

REDIS.HOST = "127.0.0.1"
REDIS.DB = 0
REDIS.PORT = 6379

JWT.ISS = "test"
JWT.SECRET = "test"
JWT.EXPIRE = 4


