use serde::{Deserialize, Serialize};
use bson::DateTime;

#[derive(Debug, Serialize, Deserialize)]
pub struct RedisKey {
    pub key: String,
}

#[derive(Debug, Serialize, Deserialize)]
pub struct RedisKeyValue {
    pub key: String,
    pub value: String,
}

#[derive(Debug, Serialize, Deserialize)]
pub struct NewLogRecord {
    pub app: String,
    pub func: String,
    pub log: String,
    pub project: String,
    pub user: i64,
    pub level: String,
    pub created: DateTime,
}