use config::{Config, Environment};
use lazy_static::lazy_static;
use serde::Deserialize;

#[derive(Debug, Deserialize)]
pub struct Settings {
    pub debug: bool,
    pub port: u16,
    pub db: DatabaseSettings,
    pub redis: RedisSettings,
}

#[derive(Debug, Deserialize)]
pub struct DatabaseSettings {
    pub user: String,
    pub pswd: String,
    pub host: String,
    pub name: String,
}

impl DatabaseSettings {
    pub fn build_url(&self) -> String {
        format!("mysql://{}:{}@{}:3306/{}", self.user, self.pswd, self.host, self.name)
    }
}

#[derive(Debug, Deserialize)]
pub struct RedisSettings {
    pub host: String,
    pub db: i32,
    pub port: i32,
}

impl RedisSettings {
    pub fn build_url(&self) -> String {
        format!("redis://{}:{}/{}", self.host, self.port, self.db)
    }
}

lazy_static! {
    pub static ref SETTINGS: Settings = {
        let builder = Config::builder()
            .set_default("debug", true).unwrap()
            .set_default("port", 8000).unwrap()
            .set_default("db.name", "{{ db_name }}").unwrap()
            .set_default("redis.host", "127.0.0.1").unwrap()
            .set_default("redis.port", 6379).unwrap()
            .set_default("redis.db",0).unwrap()
            .add_source(Environment::with_prefix("PREFIX").separator("_"));

        builder.build().unwrap().try_deserialize().unwrap()
    };

    pub static ref DATABASE_URL: String = SETTINGS.db.build_url();
    pub static ref REDIS_URL: String = SETTINGS.redis.build_url();

}