use axum::extract::State;
use axum::http::StatusCode;
use axum::response::{IntoResponse, Response};
use axum::{Json, Router};
use axum::routing::{post};
use sea_orm::{EntityTrait, ColumnTrait, QueryFilter};
use serde_json::json;
use utoipa::OpenApi;
use crate::{error, info};
use crate::auth::models;
use crate::auth::module::PASSWORD_MANAGER;
use crate::auth::tables::{user, User};
use crate::auth::utils::JwtManager;
use crate::utils::state;

#[derive(OpenApi)]
#[openapi(
    paths(login),
    components(schemas(models::LoginRequest, models::LoginResponse))
)]
pub struct AuthApi;

pub fn auth_routes() -> Router<state::AppState> {
    Router::new()
        .route("/login", post(login))
}

#[utoipa::path(
    post,
    path = "/login",
    request_body = models::LoginRequest,
    responses(
    (status = 200, description = "login success", body = models::LoginRequest),
    (status = 400, description = "UserNotFound or PasswordError"),
    )
)]
async fn login(state: State<state::AppState>, Json(payload): Json<models::LoginRequest>) -> Response {
    info!(&format!("payload.username: {}",payload.username), 0, state.clone());

    // user
    let condition = user::Column::Username.eq(&payload.username);
    let user_result = User::find().filter(condition).one(&*state.conn).await.unwrap();
    let user = match user_result {
        Some(user) => user,
        None => {
            let err_msg = format!("User {} not found", &payload.username);
            error!(&err_msg, 0, state.clone());
            return (StatusCode::BAD_REQUEST, Json(json!({ "detail": err_msg }))).into_response();
        }
    };

    // password
    if !PASSWORD_MANAGER.verify_password(&payload.password, &user.password) {
        error!(&format!("Password {} not match",&payload.password), 0, state.clone());
        return (StatusCode::BAD_REQUEST, Json(json!({ "detail": "密码错误" }))).into_response();
    }

    // jwt
    let res = models::LoginResponse {
        id: user.id,
        username: user.username,
        jwt: JwtManager::gen_token(user.id),
    };


    (StatusCode::OK, Json(res)).into_response()
}