import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';
import {environment} from '../../environments/environment';
import { {{ model_name }}, {{ model_name }}Editable, {{ model_name }}Creatable} from './{{ lower_model_name }}_interfaces';

@Injectable({
  providedIn: 'root'
})
export class {{ model_name }}Service {
  private baseUrl = `${environment.backend}/{{ app_name }}/{{ lower_models_name }}`;

  constructor(private http: HttpClient) {}

  getAll{{ models_name }}(): Observable<{{ model_name }}[]> {
    return this.http.get<{{ model_name }}[]>(`${this.baseUrl}`);
  }

  get{{ model_name }}ById(id: number): Observable<{{ model_name }}> {
    return this.http.get<{{ model_name }}>(`${this.baseUrl}/${id}`);
  }

  create{{ model_name }}(data: {{ model_name }}Creatable): Observable<{{ model_name }}Creatable> {
    return this.http.post<{{ model_name }}Creatable>(`${this.baseUrl}`, data);
  }

  update{{ model_name }}(id: number, data: {{ model_name }}Editable): Observable<{{ model_name }}Editable> {
    return this.http.put<{{ model_name }}Editable>(`${this.baseUrl}/${id}`, data);
  }

  delete{{ model_name }}(id: number): Observable<void> {
    return this.http.delete<void>(`${this.baseUrl}/${id}`);
  }
}
