{% if model_fields_map -%}
export interface {{ model_name }} {
{%- for field,field_type in model_fields_map.items() %}
    {{ field }}: {{ cls.map_ts_type(field_type) }}{% if not loop.last %},{% endif %}
{%- endfor %}
}
{% endif %}

{% if model_edit_fields_map -%}
export interface {{ model_name }}Editable {
{%- for field,field_type in model_edit_fields_map.items() %}
    {{ field }}: {{ cls.map_ts_type(field_type) }}{% if not loop.last %},{% endif %}
{%- endfor %}
}
{% endif %}

{% if model_create_fields_map -%}
export interface {{ model_name }}Creatable {
{%- for field,field_type in model_create_fields_map.items() %}
    {{ field }}: {{ cls.map_ts_type(field_type) }}{% if not loop.last %},{% endif %}
{%- endfor %}
}
{% endif %}

