{% set model_list = models_name+'List' -%}
{% set table_name = lower_model_name+'Table' -%}
{% set left = '{{' -%}
{% set right = '}}' -%}
<div *ngIf="{{ model_list }}"  class="page">
    <h2 nz-typography>{{ models_name }} List</h2>
      <nz-divider></nz-divider>
      <div>
        <nz-row>
          <nz-col nzSpan="3">
            <nz-statistic [nzValue]="{{ models_name }}List.length" [nzTitle]="'{{ models_name }} Count'"></nz-statistic>
          </nz-col>
          <nz-col nzSpan="3" class="center-content">
            <a nz-button nzType="primary" nzShape="round" nzSize="large" routerLink="/{{ app_name }}/{{ lower_models_name }}/creator">Create {{ model_name }}</a>
          </nz-col>
        </nz-row>
      </div>
      <nz-divider></nz-divider>
    <nz-table #{{ table_name }} [nzData]="{{ model_list }}">
      <thead>
        <tr>
            {% for tf in list_display_restraint_translate -%}
                <th>{{ tf }}</th>
            {% endfor -%}
            <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of {{ table_name }}.data">
            {% for ldf in list_display_restraint -%}
                <td>{{ left }}data.{{ ldf }}{{ right }}</td>
            {% endfor -%}
            <td>action</td>
        </tr>
      </tbody>
    </nz-table>
</div>