{% set component_name = app_title_name+'DashboardComponent' -%}

import {Component, OnInit} from '@angular/core';

@Component({
  selector: 'app-{{ app_name }}-dashboard',
  templateUrl: './{{ app_name }}-dashboard.component.html',
  styleUrls: ['./{{ app_name }}-dashboard.component.css']
})
export class {{ component_name }} implements OnInit {

  constructor(
  ) {
  }

  ngOnInit(): void {
  }

}
